{{ form_start(form) }}
<div class="row">
    <div class="col-xl-8">
        <div class="card mb-4">
            <div class="card-header">
                Project Form                                            
            </div>
            <div class="card-body">
                <div class="row gx-3 mb-3">
                    <div class="card-body text-center">
                        <div class="small font-italic text-muted mb-4">
                            No larger than 5 MB </br>  
                            <img src="{{ vich_uploader_asset(project, 'imageFile') }}" alt="Image" class="img-thumbnail" width="200px" height="50%" id="image" />
                        </div>
                    </div>
                    <div class="card-body text-center">
                        {{ form_widget(form.imageFile, {'attr':{'title':'','id':'file' }}) }}
                    </div>
                </div>
                <hr>
                <div class="row gx-3 mb-3">
                    <div class="col-md-12">
                        {{ form_label(form.title, 'Title', {'label_attr':{'class':'small mb-1' }}) }}                                   
                        {{ form_widget(form.title, {'attr':{'class':'form-control' }}) }}                               
                    </div>
                    <div class="invalid-feedback">
                        {{ form_errors(form.title) }}
                    </div>
                </div>
                <hr>
                <div class="row gx-3 mb-3">
                    <div class="col-md-12">
                        {{ form_label(form.filename, 'Filename/Url', {'label_attr':{'class':'small mb-1' }}) }}                                   
                        {{ form_widget(form.filename, {'attr':{'class':'form-control' }}) }}                               
                    </div>
                    <div class="invalid-feedback">
                        {{ form_errors(form.filename) }}
                    </div>
                </div>
                <hr>
                <div class="row gx-3 mb-3">
                    <div class="col-md-6">
                        {{ form_label(form.nbTasks, 'Number of Tasks', {'label_attr':{'class':'small mb-1' }}) }}                                   
                        {{ form_widget(form.nbTasks, {'attr':{'class':'form-control' }}) }}                               
                    </div>
                    <div class="invalid-feedback">
                        {{ form_errors(form.nbTasks) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_label(form.status, 'Status', {'label_attr':{'class':'small mb-1' }}) }}                                   
                        {{ form_widget(form.status, {'attr':{'class':'form-control' }}) }}                               
                    </div>
                    <div class="invalid-feedback">
                        {{ form_errors(form.status) }}
                    </div>
                </div>
                <hr>
                <div class="row gx-3 mb-3">
                    <div class="col-md-12">
                        {{ form_label(form.description, 'Description', {'label_attr':{'class':'small mb-1' }}) }}                                   
                        {{ form_widget(form.description, {'attr':{}}) }}                               
                    </div>
                    <div class="invalid-feedback">
                        {{ form_errors(form.description) }}
                    </div>
                </div>
                <hr>
                <button class="fw-500 btn btn-primary">
                        {{ button_label|default('Sauvegarder') }}
                </button>
            </div>
        </div>
    </div>
</div>
<script>
function filePreview(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
                $('#image').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
    }
}
$("#project_imageFile_file").change(function () {
    filePreview(this);
});
</script>
{{ form_end(form) }}

