{% extends "base.html.twig" %}

{% block title %}Project{% endblock %}

{% block content %}
<main>
    <header class="page-header page-header-compact page-header-dark bg-gradient ">

            <div class="container-xl px-4">
                <div class="page-header-content">
                    <div class="row align-items-center justify-content-between pt-3">
                        <div class="col-auto mb-3">
                            <h1 class="page-header-title">
                                <div class="page-header-icon">
                                    <i data-feather="box"></i>
                                </div>
                                {{ project.title}}                           
                            </h1>
                        </div>
                        <div class="col-12 col-xl-auto mb-3">
                            <a class="btn btn-sm btn-light text-primary" href="{{ path('app_project_index') }}">
                                Projects List                           
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    <div class="container-xl px-4 mt-4">
        <div class="row">
            <div class="col-xl-8">
                <!-- Account details card-->
                <div class="card mb-4">
                    <div class="card-header">Project Form
                    </div>
                    <div class="card-body">
                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (first name)-->
                            <div class="col-md-12">
                                <div class="card-body text-center">
                                    <div class="small font-italic text-muted mb-4">
                                        <img src="{{ vich_uploader_asset(project, 'imageFile') }}" alt="Image" class="img-thumbnail" width="200px" height="50%" id="image" />
                                    </div>
                                </div>                   
                            </div>
                        </div>
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (first name)-->
                            <div class="col-md-12">
                                <hr>
                                <h2 class="small mb-1" for="inputFirstName">Title</h2>
                                <p class=" mb-1" for="inputFirstName">{{ project.title }}</p>
                                <hr>  
                            </div>
                        </div>
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (first name)-->
                            <div class="col-md-12">
                                <hr>
                                <h2 class="small mb-1" for="inputFirstName">Filename/Url</h2>
                                <p class=" mb-1" for="inputFirstName">{{ project.filename }}</p>
                                <hr>  
                            </div>
                        </div>
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (first name)-->
                             <div class="col-md-6">
                                <hr>
                                <p class=" mb-1" for="inputFirstName">{{ project.nbTasks }} tasks</p>
                                <hr>  
                            </div>
                            <div class="col-md-6">
                                <hr>
                                <h2 class="small mb-1" for="inputFirstName">
                                {% if project.status == "Blocked" %}
                                    <span class="badge bg-red-soft text-red" style="float:right">Blocked</span>
                                {% elseif project.status == "In Progress" %}
                                    <span class="badge bg-purple-soft text-purple" style="float:right">In Progress</span>
                                {% elseif project.status == "Done" %}
                                    <span class="badge bg-blue-soft text-blue" style="float:right">Done</span>
                                {% endif %}
                                </h2>
                                <p class=" mb-1" for="inputFirstName">Last updated {{ date(project.updatedat).diff(today).days }} days ago</p>
                                <hr>  
                            </div>
                        </div>
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (first name)-->
                            <div class="col-md-12">
                                <hr>
                                <h2 class="small mb-1" for="inputFirstName">Description</h2>
                                <p class=" mb-1" for="inputFirstName">{{ project.description|raw }}</p>
                                <hr>  
                            </div>
                        </div>
                        {% if app.user.roles['ROLE_ADMIN'] is defined %}
                        <div class="col-12">
                            <a class="btn btn-outline-danger" href="{{ path('app_project_edit',{'id' : project.id}) }}" style="float:left">Edit Project</a>
                            <a style="float:right">
                                {{ include('project/_delete_form.html.twig') }}
                            </a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
