{% extends "base.html.twig" %}
{% block content %}
    <main>
        <header class="page-header page-header-compact page-header-dark bg-gradient ">

            <div class="container-fluid px-4">
                <div class="page-header-content">
                    <div class="row align-items-center justify-content-between pt-3">
                        <div class="col-auto mb-3">
                            <h1 class="page-header-title">
                                <div class="page-header-icon">
                                    <i data-feather="users"></i>
                                </div>
                                Users List                        
                            </h1>
                        </div>
                        <div class="col-12 col-xl-auto mb-3">
                            <a class="btn btn-sm btn-light text-primary" href="{{ path('app_user_new') }}">
                                Add User                                                                                    
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main page content-->
        <div class="container-fluid px-4 mt-4">
            <div class="row" id="paginated-list">
                {% for user in users %}
                <div class="col-xl-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="row gx-3 mb-3">
                                <div class="col-md-12">
                                    <div class=" text-center">
                                        <div class="small font-italic text-muted mb-4">
                                            <a href="{{ path('app_user_show',{'id' : user.id} ) }}">
                                            <img src="{{ vich_uploader_asset(user.picture, 'imageFile') }}" alt="Image" class="img-fluid"  id="image"
                                            style="
                                            max-height:150px;
                                            "/>
                                            </a>
                                        </div>
                                    </div>                   
                                </div>
                            </div>
                            <div class="row gx-3 mb-3">
                                <!-- Form Group (first name)-->
                                <div class="col-md-12">
                                    <hr>
                                    <h2 class="small mb-1" for="inputFirstName">Email <small>({{ user.isActive ? "Active" : "Inactive" }})</small>
                                        {% if user.isAdmin %}
                                            <span class="badge bg-red-soft text-red" style="float:right">Administrator</span>
                                        {% else %}
                                            <span class="badge bg-blue-soft text-blue" style="float:right">User</span>
                                        {% endif %}
                                    </h2>
                                    <p class=" mb-1" for="inputFirstName">{{ user.email }}</p>
                                    <hr>  
                                </div>
                            </div>
                            <div class="col-12" style="text-align:center">
                                <a class="btn btn-outline-danger" href="{{ path('app_user_edit',{'id' : user.id}) }}">
                                    Edit User
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <hr>
            <div class="row">
                <div class="col-3">
                    <button class="pagination-button" id="prev-button" title="Previous page" aria-label="Previous page" style="float:right">
                        prev
                    </button>
                </div>
                <div class="col-6">
                    <div id="pagination-numbers">
                    </div>
                </div>
                <div class="col-3"> 
                    <button class="pagination-button" id="next-button" title="Next page" aria-label="Next page" style="float:left">
                        next
                    </button>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block scripts %}
<script>

const paginationNumbers = document.getElementById("pagination-numbers");
const paginatedList = document.getElementById("paginated-list");
const listItems = paginatedList.querySelectorAll(".card");
const nextButton = document.getElementById("next-button");
const prevButton = document.getElementById("prev-button");
const paginationLimit = 4;
const pageCount = Math.ceil(listItems.length / paginationLimit);
let currentPage;

const appendPageNumber = (index) => {
  const pageNumber = document.createElement("button");
  pageNumber.className = "pagination-number";
  pageNumber.innerHTML = index;
  pageNumber.setAttribute("page-index", index);
  pageNumber.setAttribute("aria-label", "Page " + index);
  paginationNumbers.appendChild(pageNumber);
};
const getPaginationNumbers = () => {
  for (let i = 1; i <= pageCount; i++) {
    appendPageNumber(i);
  }
};

const handleActivePageNumber = () => {
  document.querySelectorAll(".pagination-number").forEach((button) => {
    button.classList.remove("active");
    
    const pageIndex = Number(button.getAttribute("page-index"));
    if (pageIndex == currentPage) {
      button.classList.add("active");
    }
  });
};

const disableButton = (button) => {
  button.classList.add("disabled");
  button.setAttribute("disabled", true);
};
const enableButton = (button) => {
  button.classList.remove("disabled");
  button.removeAttribute("disabled");
};
const handlePageButtonsStatus = () => {
  if (currentPage === 1) {
    disableButton(prevButton);
  } else {
    enableButton(prevButton);
  }
  if (pageCount === currentPage) {
    disableButton(nextButton);
  } else {
    enableButton(nextButton);
  }
};

const setCurrentPage = (pageNum) => {
  currentPage = pageNum;
  handleActivePageNumber();
  handlePageButtonsStatus();
  
  const prevRange = (pageNum - 1) * paginationLimit;
  const currRange = pageNum * paginationLimit;
  listItems.forEach((item, index) => {
    item.classList.add("hidden");
    if (index >= prevRange && index < currRange) {
      item.classList.remove("hidden");
    }
  });
};
window.addEventListener("load", () => {
  getPaginationNumbers();
  setCurrentPage(1);
  prevButton.addEventListener("click", () => {
    setCurrentPage(currentPage - 1);
  });
  nextButton.addEventListener("click", () => {
    setCurrentPage(currentPage + 1);
  });
  document.querySelectorAll(".pagination-number").forEach((button) => {
    const pageIndex = Number(button.getAttribute("page-index"));
    if (pageIndex) {
      button.addEventListener("click", () => {
        setCurrentPage(pageIndex);
      });
    }
  });
});

</script>
{% endblock %}
